openapi: 3.0.3
info:
  title: 'Tickets Please API Documentation'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'http://tickets-please.localtest.me'
paths:
  /api/login:
    post:
      summary: ''
      operationId: postApiLogin
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: leffler.odell@example.com
                  nullable: false
                password:
                  type: string
                  description: 'Must be at least 8 characters.'
                  example: ')]]*}T~#'
                  nullable: false
              required:
                - email
                - password
  /api/logout:
    post:
      summary: ''
      operationId: postApiLogout
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
  /api/register:
    post:
      summary: ''
      operationId: postApiRegister
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
  /api/v1/ticket:
    get:
      summary: 'Display a listing of the resource.'
      operationId: displayAListingOfTheResource
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      type: ticket
                      id: 1
                      attributes:
                        title: 'Test title 3'
                        status: X
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T14:44:08.000000Z'
                      relationships:
                        author:
                          data:
                            type: user
                            id: 9
                          links:
                            self: 'http://tickets-please.localtest.me/api/v1/author/9'
                      links:
                        self: 'http://tickets-please.localtest.me/api/v1/ticket/1'
                    -
                      type: ticket
                      id: 2
                      attributes:
                        title: 'quo omnis distinctio'
                        status: A
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                      relationships:
                        author:
                          data:
                            type: user
                            id: 2
                          links:
                            self: 'http://tickets-please.localtest.me/api/v1/author/2'
                      links:
                        self: 'http://tickets-please.localtest.me/api/v1/ticket/2'
                    -
                      type: ticket
                      id: 3
                      attributes:
                        title: 'aut commodi explicabo'
                        status: C
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                      relationships:
                        author:
                          data:
                            type: user
                            id: 4
                          links:
                            self: 'http://tickets-please.localtest.me/api/v1/author/4'
                      links:
                        self: 'http://tickets-please.localtest.me/api/v1/ticket/3'
                    -
                      type: ticket
                      id: 4
                      attributes:
                        title: 'repellat omnis voluptatem'
                        status: A
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                      relationships:
                        author:
                          data:
                            type: user
                            id: 6
                          links:
                            self: 'http://tickets-please.localtest.me/api/v1/author/6'
                      links:
                        self: 'http://tickets-please.localtest.me/api/v1/ticket/4'
                    -
                      type: ticket
                      id: 5
                      attributes:
                        title: 'autem velit et'
                        status: C
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                      relationships:
                        author:
                          data:
                            type: user
                            id: 7
                          links:
                            self: 'http://tickets-please.localtest.me/api/v1/author/7'
                      links:
                        self: 'http://tickets-please.localtest.me/api/v1/ticket/5'
                    -
                      type: ticket
                      id: 6
                      attributes:
                        title: 'eligendi velit voluptatem'
                        status: C
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                      relationships:
                        author:
                          data:
                            type: user
                            id: 10
                          links:
                            self: 'http://tickets-please.localtest.me/api/v1/author/10'
                      links:
                        self: 'http://tickets-please.localtest.me/api/v1/ticket/6'
                    -
                      type: ticket
                      id: 7
                      attributes:
                        title: 'qui esse ab'
                        status: A
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                      relationships:
                        author:
                          data:
                            type: user
                            id: 6
                          links:
                            self: 'http://tickets-please.localtest.me/api/v1/author/6'
                      links:
                        self: 'http://tickets-please.localtest.me/api/v1/ticket/7'
                    -
                      type: ticket
                      id: 8
                      attributes:
                        title: 'et corrupti suscipit'
                        status: A
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                      relationships:
                        author:
                          data:
                            type: user
                            id: 8
                          links:
                            self: 'http://tickets-please.localtest.me/api/v1/author/8'
                      links:
                        self: 'http://tickets-please.localtest.me/api/v1/ticket/8'
                    -
                      type: ticket
                      id: 9
                      attributes:
                        title: 'et omnis aut'
                        status: H
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                      relationships:
                        author:
                          data:
                            type: user
                            id: 5
                          links:
                            self: 'http://tickets-please.localtest.me/api/v1/author/5'
                      links:
                        self: 'http://tickets-please.localtest.me/api/v1/ticket/9'
                    -
                      type: ticket
                      id: 10
                      attributes:
                        title: 'Test title 4'
                        status: X
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:22:46.000000Z'
                      relationships:
                        author:
                          data:
                            type: user
                            id: 3
                          links:
                            self: 'http://tickets-please.localtest.me/api/v1/author/3'
                      links:
                        self: 'http://tickets-please.localtest.me/api/v1/ticket/10'
                    -
                      type: ticket
                      id: 11
                      attributes:
                        title: 'dolor quia rerum'
                        status: A
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                      relationships:
                        author:
                          data:
                            type: user
                            id: 2
                          links:
                            self: 'http://tickets-please.localtest.me/api/v1/author/2'
                      links:
                        self: 'http://tickets-please.localtest.me/api/v1/ticket/11'
                    -
                      type: ticket
                      id: 12
                      attributes:
                        title: 'voluptatem distinctio saepe'
                        status: A
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                      relationships:
                        author:
                          data:
                            type: user
                            id: 7
                          links:
                            self: 'http://tickets-please.localtest.me/api/v1/author/7'
                      links:
                        self: 'http://tickets-please.localtest.me/api/v1/ticket/12'
                    -
                      type: ticket
                      id: 13
                      attributes:
                        title: 'enim facere excepturi'
                        status: C
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                      relationships:
                        author:
                          data:
                            type: user
                            id: 3
                          links:
                            self: 'http://tickets-please.localtest.me/api/v1/author/3'
                      links:
                        self: 'http://tickets-please.localtest.me/api/v1/ticket/13'
                    -
                      type: ticket
                      id: 14
                      attributes:
                        title: 'quia ipsa ducimus'
                        status: X
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                      relationships:
                        author:
                          data:
                            type: user
                            id: 10
                          links:
                            self: 'http://tickets-please.localtest.me/api/v1/author/10'
                      links:
                        self: 'http://tickets-please.localtest.me/api/v1/ticket/14'
                    -
                      type: ticket
                      id: 15
                      attributes:
                        title: 'id adipisci iure'
                        status: A
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                      relationships:
                        author:
                          data:
                            type: user
                            id: 10
                          links:
                            self: 'http://tickets-please.localtest.me/api/v1/author/10'
                      links:
                        self: 'http://tickets-please.localtest.me/api/v1/ticket/15'
                  links:
                    first: 'http://tickets-please.localtest.me/api/v1/ticket?page=1'
                    last: 'http://tickets-please.localtest.me/api/v1/ticket?page=8'
                    prev: null
                    next: 'http://tickets-please.localtest.me/api/v1/ticket?page=2'
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 8
                    links:
                      -
                        url: null
                        label: '&laquo; Previous'
                        active: false
                      -
                        url: 'http://tickets-please.localtest.me/api/v1/ticket?page=1'
                        label: '1'
                        active: true
                      -
                        url: 'http://tickets-please.localtest.me/api/v1/ticket?page=2'
                        label: '2'
                        active: false
                      -
                        url: 'http://tickets-please.localtest.me/api/v1/ticket?page=3'
                        label: '3'
                        active: false
                      -
                        url: 'http://tickets-please.localtest.me/api/v1/ticket?page=4'
                        label: '4'
                        active: false
                      -
                        url: 'http://tickets-please.localtest.me/api/v1/ticket?page=5'
                        label: '5'
                        active: false
                      -
                        url: 'http://tickets-please.localtest.me/api/v1/ticket?page=6'
                        label: '6'
                        active: false
                      -
                        url: 'http://tickets-please.localtest.me/api/v1/ticket?page=7'
                        label: '7'
                        active: false
                      -
                        url: 'http://tickets-please.localtest.me/api/v1/ticket?page=8'
                        label: '8'
                        active: false
                      -
                        url: 'http://tickets-please.localtest.me/api/v1/ticket?page=2'
                        label: 'Next &raquo;'
                        active: false
                    path: 'http://tickets-please.localtest.me/api/v1/ticket'
                    per_page: 15
                    to: 15
                    total: 111
                properties:
                  data:
                    type: array
                    example:
                      -
                        type: ticket
                        id: 1
                        attributes:
                          title: 'Test title 3'
                          status: X
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T14:44:08.000000Z'
                        relationships:
                          author:
                            data:
                              type: user
                              id: 9
                            links:
                              self: 'http://tickets-please.localtest.me/api/v1/author/9'
                        links:
                          self: 'http://tickets-please.localtest.me/api/v1/ticket/1'
                      -
                        type: ticket
                        id: 2
                        attributes:
                          title: 'quo omnis distinctio'
                          status: A
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                        relationships:
                          author:
                            data:
                              type: user
                              id: 2
                            links:
                              self: 'http://tickets-please.localtest.me/api/v1/author/2'
                        links:
                          self: 'http://tickets-please.localtest.me/api/v1/ticket/2'
                      -
                        type: ticket
                        id: 3
                        attributes:
                          title: 'aut commodi explicabo'
                          status: C
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                        relationships:
                          author:
                            data:
                              type: user
                              id: 4
                            links:
                              self: 'http://tickets-please.localtest.me/api/v1/author/4'
                        links:
                          self: 'http://tickets-please.localtest.me/api/v1/ticket/3'
                      -
                        type: ticket
                        id: 4
                        attributes:
                          title: 'repellat omnis voluptatem'
                          status: A
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                        relationships:
                          author:
                            data:
                              type: user
                              id: 6
                            links:
                              self: 'http://tickets-please.localtest.me/api/v1/author/6'
                        links:
                          self: 'http://tickets-please.localtest.me/api/v1/ticket/4'
                      -
                        type: ticket
                        id: 5
                        attributes:
                          title: 'autem velit et'
                          status: C
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                        relationships:
                          author:
                            data:
                              type: user
                              id: 7
                            links:
                              self: 'http://tickets-please.localtest.me/api/v1/author/7'
                        links:
                          self: 'http://tickets-please.localtest.me/api/v1/ticket/5'
                      -
                        type: ticket
                        id: 6
                        attributes:
                          title: 'eligendi velit voluptatem'
                          status: C
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                        relationships:
                          author:
                            data:
                              type: user
                              id: 10
                            links:
                              self: 'http://tickets-please.localtest.me/api/v1/author/10'
                        links:
                          self: 'http://tickets-please.localtest.me/api/v1/ticket/6'
                      -
                        type: ticket
                        id: 7
                        attributes:
                          title: 'qui esse ab'
                          status: A
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                        relationships:
                          author:
                            data:
                              type: user
                              id: 6
                            links:
                              self: 'http://tickets-please.localtest.me/api/v1/author/6'
                        links:
                          self: 'http://tickets-please.localtest.me/api/v1/ticket/7'
                      -
                        type: ticket
                        id: 8
                        attributes:
                          title: 'et corrupti suscipit'
                          status: A
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                        relationships:
                          author:
                            data:
                              type: user
                              id: 8
                            links:
                              self: 'http://tickets-please.localtest.me/api/v1/author/8'
                        links:
                          self: 'http://tickets-please.localtest.me/api/v1/ticket/8'
                      -
                        type: ticket
                        id: 9
                        attributes:
                          title: 'et omnis aut'
                          status: H
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                        relationships:
                          author:
                            data:
                              type: user
                              id: 5
                            links:
                              self: 'http://tickets-please.localtest.me/api/v1/author/5'
                        links:
                          self: 'http://tickets-please.localtest.me/api/v1/ticket/9'
                      -
                        type: ticket
                        id: 10
                        attributes:
                          title: 'Test title 4'
                          status: X
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:22:46.000000Z'
                        relationships:
                          author:
                            data:
                              type: user
                              id: 3
                            links:
                              self: 'http://tickets-please.localtest.me/api/v1/author/3'
                        links:
                          self: 'http://tickets-please.localtest.me/api/v1/ticket/10'
                      -
                        type: ticket
                        id: 11
                        attributes:
                          title: 'dolor quia rerum'
                          status: A
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                        relationships:
                          author:
                            data:
                              type: user
                              id: 2
                            links:
                              self: 'http://tickets-please.localtest.me/api/v1/author/2'
                        links:
                          self: 'http://tickets-please.localtest.me/api/v1/ticket/11'
                      -
                        type: ticket
                        id: 12
                        attributes:
                          title: 'voluptatem distinctio saepe'
                          status: A
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                        relationships:
                          author:
                            data:
                              type: user
                              id: 7
                            links:
                              self: 'http://tickets-please.localtest.me/api/v1/author/7'
                        links:
                          self: 'http://tickets-please.localtest.me/api/v1/ticket/12'
                      -
                        type: ticket
                        id: 13
                        attributes:
                          title: 'enim facere excepturi'
                          status: C
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                        relationships:
                          author:
                            data:
                              type: user
                              id: 3
                            links:
                              self: 'http://tickets-please.localtest.me/api/v1/author/3'
                        links:
                          self: 'http://tickets-please.localtest.me/api/v1/ticket/13'
                      -
                        type: ticket
                        id: 14
                        attributes:
                          title: 'quia ipsa ducimus'
                          status: X
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                        relationships:
                          author:
                            data:
                              type: user
                              id: 10
                            links:
                              self: 'http://tickets-please.localtest.me/api/v1/author/10'
                        links:
                          self: 'http://tickets-please.localtest.me/api/v1/ticket/14'
                      -
                        type: ticket
                        id: 15
                        attributes:
                          title: 'id adipisci iure'
                          status: A
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                        relationships:
                          author:
                            data:
                              type: user
                              id: 10
                            links:
                              self: 'http://tickets-please.localtest.me/api/v1/author/10'
                        links:
                          self: 'http://tickets-please.localtest.me/api/v1/ticket/15'
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          example: ticket
                        id:
                          type: integer
                          example: 1
                        attributes:
                          type: object
                          properties:
                            title:
                              type: string
                              example: 'Test title 3'
                            status:
                              type: string
                              example: X
                            createdAt:
                              type: string
                              example: '2024-12-09T13:16:02.000000Z'
                            updatedAt:
                              type: string
                              example: '2024-12-09T14:44:08.000000Z'
                        relationships:
                          type: object
                          properties:
                            author:
                              type: object
                              properties:
                                data:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      example: user
                                    id:
                                      type: integer
                                      example: 9
                                links:
                                  type: object
                                  properties:
                                    self:
                                      type: string
                                      example: 'http://tickets-please.localtest.me/api/v1/author/9'
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://tickets-please.localtest.me/api/v1/ticket/1'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: 'http://tickets-please.localtest.me/api/v1/ticket?page=1'
                      last:
                        type: string
                        example: 'http://tickets-please.localtest.me/api/v1/ticket?page=8'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: 'http://tickets-please.localtest.me/api/v1/ticket?page=2'
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 8
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: '&laquo; Previous'
                            active: false
                          -
                            url: 'http://tickets-please.localtest.me/api/v1/ticket?page=1'
                            label: '1'
                            active: true
                          -
                            url: 'http://tickets-please.localtest.me/api/v1/ticket?page=2'
                            label: '2'
                            active: false
                          -
                            url: 'http://tickets-please.localtest.me/api/v1/ticket?page=3'
                            label: '3'
                            active: false
                          -
                            url: 'http://tickets-please.localtest.me/api/v1/ticket?page=4'
                            label: '4'
                            active: false
                          -
                            url: 'http://tickets-please.localtest.me/api/v1/ticket?page=5'
                            label: '5'
                            active: false
                          -
                            url: 'http://tickets-please.localtest.me/api/v1/ticket?page=6'
                            label: '6'
                            active: false
                          -
                            url: 'http://tickets-please.localtest.me/api/v1/ticket?page=7'
                            label: '7'
                            active: false
                          -
                            url: 'http://tickets-please.localtest.me/api/v1/ticket?page=8'
                            label: '8'
                            active: false
                          -
                            url: 'http://tickets-please.localtest.me/api/v1/ticket?page=2'
                            label: 'Next &raquo;'
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: '&laquo; Previous'
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: 'http://tickets-please.localtest.me/api/v1/ticket'
                      per_page:
                        type: integer
                        example: 15
                      to:
                        type: integer
                        example: 15
                      total:
                        type: integer
                        example: 111
      tags:
        - Endpoints
    post:
      summary: ''
      operationId: postApiV1Ticket
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  description: ''
                  example: []
                  nullable: false
                  properties:
                    attributes:
                      type: object
                      description: ''
                      example: []
                      nullable: false
                      properties:
                        title:
                          type: string
                          description: ''
                          example: est
                          nullable: false
                        description:
                          type: string
                          description: ''
                          example: 'Fugit pariatur aut provident recusandae vero veniam modi aperiam.'
                          nullable: false
                        status:
                          type: string
                          description: ''
                          example: X
                          nullable: false
                          enum:
                            - A
                            - C
                            - H
                            - X
                    relationships:
                      type: object
                      description: ''
                      example: []
                      nullable: false
                      properties:
                        author:
                          type: object
                          description: ''
                          example: []
                          nullable: false
                          properties:
                            data:
                              type: object
                              description: ''
                              example: []
                              nullable: false
                              properties:
                                id:
                                  type: integer
                                  description: ''
                                  example: '5'
                                  nullable: false
                                  enum:
                                    - '8'
                                    - '1'
                                    - '10'
                                    - '4'
                                    - '9'
                                    - '6'
                                    - '2'
                                    - '12'
                                    - '11'
                                    - '7'
                                    - '5'
                                    - '3'
  '/api/v1/ticket/{id}':
    get:
      summary: ''
      operationId: getApiV1TicketId
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    type: ticket
                    id: 1
                    attributes:
                      title: 'Test title 3'
                      description: 'Test description 3'
                      status: X
                      createdAt: '2024-12-09T13:16:02.000000Z'
                      updatedAt: '2024-12-09T14:44:08.000000Z'
                    relationships:
                      author:
                        data:
                          type: user
                          id: 9
                        links:
                          self: 'http://tickets-please.localtest.me/api/v1/author/9'
                    links:
                      self: 'http://tickets-please.localtest.me/api/v1/ticket/1'
                properties:
                  data:
                    type: object
                    properties:
                      type:
                        type: string
                        example: ticket
                      id:
                        type: integer
                        example: 1
                      attributes:
                        type: object
                        properties:
                          title:
                            type: string
                            example: 'Test title 3'
                          description:
                            type: string
                            example: 'Test description 3'
                          status:
                            type: string
                            example: X
                          createdAt:
                            type: string
                            example: '2024-12-09T13:16:02.000000Z'
                          updatedAt:
                            type: string
                            example: '2024-12-09T14:44:08.000000Z'
                      relationships:
                        type: object
                        properties:
                          author:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  type:
                                    type: string
                                    example: user
                                  id:
                                    type: integer
                                    example: 9
                              links:
                                type: object
                                properties:
                                  self:
                                    type: string
                                    example: 'http://tickets-please.localtest.me/api/v1/author/9'
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://tickets-please.localtest.me/api/v1/ticket/1'
      tags:
        - Endpoints
    put:
      summary: ''
      operationId: putApiV1TicketId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  description: ''
                  example: []
                  nullable: false
                  properties:
                    attributes:
                      type: object
                      description: ''
                      example: []
                      nullable: false
                      properties:
                        title:
                          type: string
                          description: ''
                          example: dicta
                          nullable: false
                        description:
                          type: string
                          description: ''
                          example: 'Dolores assumenda amet quisquam sit.'
                          nullable: false
                        status:
                          type: string
                          description: ''
                          example: A
                          nullable: false
                          enum:
                            - A
                            - C
                            - H
                            - X
                    relationships:
                      type: object
                      description: ''
                      example: []
                      nullable: false
                      properties:
                        author:
                          type: object
                          description: ''
                          example: []
                          nullable: false
                          properties:
                            data:
                              type: object
                              description: ''
                              example: []
                              nullable: false
                              properties:
                                id:
                                  type: integer
                                  description: ''
                                  example: '11'
                                  nullable: false
                                  enum:
                                    - '8'
                                    - '1'
                                    - '10'
                                    - '4'
                                    - '9'
                                    - '6'
                                    - '2'
                                    - '12'
                                    - '11'
                                    - '7'
                                    - '5'
                                    - '3'
    delete:
      summary: ''
      operationId: deleteApiV1TicketId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  description: ''
                  example: []
                  nullable: false
                  properties:
                    attributes:
                      type: object
                      description: ''
                      example: []
                      nullable: false
                      properties:
                        title:
                          type: string
                          description: ''
                          example: vero
                          nullable: false
                        description:
                          type: string
                          description: ''
                          example: 'Velit magni voluptatibus dolor accusantium.'
                          nullable: false
                        status:
                          type: string
                          description: ''
                          example: H
                          nullable: false
                          enum:
                            - A
                            - C
                            - H
                            - X
                    relationships:
                      type: object
                      description: ''
                      example: []
                      nullable: false
                      properties:
                        author:
                          type: object
                          description: ''
                          example: []
                          nullable: false
                          properties:
                            data:
                              type: object
                              description: ''
                              example: []
                              nullable: false
                              properties:
                                id:
                                  type: integer
                                  description: ''
                                  example: '8'
                                  nullable: false
                                  enum:
                                    - '8'
                                    - '1'
                                    - '10'
                                    - '4'
                                    - '9'
                                    - '6'
                                    - '2'
                                    - '12'
                                    - '11'
                                    - '7'
                                    - '5'
                                    - '3'
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the ticket.'
        example: 1
        required: true
        schema:
          type: integer
  /api/v1/author:
    get:
      summary: ''
      operationId: getApiV1Author
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      type: user
                      id: 1
                      attributes:
                        name: 'Jared Hill'
                        email: francesco.wuckert@example.com
                        emailVerifiedAt: '2024-12-09T13:16:01.000000Z'
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                    -
                      type: user
                      id: 2
                      attributes:
                        name: 'Prof. Agnes Buckridge I'
                        email: preston.nicolas@example.org
                        emailVerifiedAt: '2024-12-09T13:16:02.000000Z'
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                    -
                      type: user
                      id: 3
                      attributes:
                        name: 'Lindsey Kling'
                        email: yvette.schultz@example.com
                        emailVerifiedAt: '2024-12-09T13:16:02.000000Z'
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                    -
                      type: user
                      id: 4
                      attributes:
                        name: 'Mercedes Adams III'
                        email: michale99@example.com
                        emailVerifiedAt: '2024-12-09T13:16:02.000000Z'
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                    -
                      type: user
                      id: 5
                      attributes:
                        name: 'Joaquin Lebsack'
                        email: tjenkins@example.com
                        emailVerifiedAt: '2024-12-09T13:16:02.000000Z'
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                    -
                      type: user
                      id: 6
                      attributes:
                        name: 'Rollin Robel'
                        email: nienow.jerome@example.net
                        emailVerifiedAt: '2024-12-09T13:16:02.000000Z'
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                    -
                      type: user
                      id: 7
                      attributes:
                        name: 'Brayan Cummings Sr.'
                        email: ruecker.lamar@example.org
                        emailVerifiedAt: '2024-12-09T13:16:02.000000Z'
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                    -
                      type: user
                      id: 8
                      attributes:
                        name: 'Dr. Ashleigh Runolfsdottir'
                        email: darryl.pfeffer@example.com
                        emailVerifiedAt: '2024-12-09T13:16:02.000000Z'
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                    -
                      type: user
                      id: 9
                      attributes:
                        name: 'Wendell Langosh'
                        email: nicole.crooks@example.org
                        emailVerifiedAt: '2024-12-09T13:16:02.000000Z'
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                    -
                      type: user
                      id: 10
                      attributes:
                        name: 'Emilie Considine I'
                        email: gfriesen@example.com
                        emailVerifiedAt: '2024-12-09T13:16:02.000000Z'
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                    -
                      type: user
                      id: 11
                      attributes:
                        name: 'Cade Schamberger'
                        email: rogier.vandenberg+manager@paqt.com
                        emailVerifiedAt: '2024-12-09T13:16:02.000000Z'
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                    -
                      type: user
                      id: 12
                      attributes:
                        name: 'Kassandra Bogisich II'
                        email: rogier.vandenberg+employee@paqt.com
                        emailVerifiedAt: '2024-12-09T13:16:02.000000Z'
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                  links:
                    first: 'http://tickets-please.localtest.me/api/v1/author?page=1'
                    last: 'http://tickets-please.localtest.me/api/v1/author?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: '&laquo; Previous'
                        active: false
                      -
                        url: 'http://tickets-please.localtest.me/api/v1/author?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: 'Next &raquo;'
                        active: false
                    path: 'http://tickets-please.localtest.me/api/v1/author'
                    per_page: 15
                    to: 12
                    total: 12
                properties:
                  data:
                    type: array
                    example:
                      -
                        type: user
                        id: 1
                        attributes:
                          name: 'Jared Hill'
                          email: francesco.wuckert@example.com
                          emailVerifiedAt: '2024-12-09T13:16:01.000000Z'
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                      -
                        type: user
                        id: 2
                        attributes:
                          name: 'Prof. Agnes Buckridge I'
                          email: preston.nicolas@example.org
                          emailVerifiedAt: '2024-12-09T13:16:02.000000Z'
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                      -
                        type: user
                        id: 3
                        attributes:
                          name: 'Lindsey Kling'
                          email: yvette.schultz@example.com
                          emailVerifiedAt: '2024-12-09T13:16:02.000000Z'
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                      -
                        type: user
                        id: 4
                        attributes:
                          name: 'Mercedes Adams III'
                          email: michale99@example.com
                          emailVerifiedAt: '2024-12-09T13:16:02.000000Z'
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                      -
                        type: user
                        id: 5
                        attributes:
                          name: 'Joaquin Lebsack'
                          email: tjenkins@example.com
                          emailVerifiedAt: '2024-12-09T13:16:02.000000Z'
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                      -
                        type: user
                        id: 6
                        attributes:
                          name: 'Rollin Robel'
                          email: nienow.jerome@example.net
                          emailVerifiedAt: '2024-12-09T13:16:02.000000Z'
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                      -
                        type: user
                        id: 7
                        attributes:
                          name: 'Brayan Cummings Sr.'
                          email: ruecker.lamar@example.org
                          emailVerifiedAt: '2024-12-09T13:16:02.000000Z'
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                      -
                        type: user
                        id: 8
                        attributes:
                          name: 'Dr. Ashleigh Runolfsdottir'
                          email: darryl.pfeffer@example.com
                          emailVerifiedAt: '2024-12-09T13:16:02.000000Z'
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                      -
                        type: user
                        id: 9
                        attributes:
                          name: 'Wendell Langosh'
                          email: nicole.crooks@example.org
                          emailVerifiedAt: '2024-12-09T13:16:02.000000Z'
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                      -
                        type: user
                        id: 10
                        attributes:
                          name: 'Emilie Considine I'
                          email: gfriesen@example.com
                          emailVerifiedAt: '2024-12-09T13:16:02.000000Z'
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                      -
                        type: user
                        id: 11
                        attributes:
                          name: 'Cade Schamberger'
                          email: rogier.vandenberg+manager@paqt.com
                          emailVerifiedAt: '2024-12-09T13:16:02.000000Z'
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                      -
                        type: user
                        id: 12
                        attributes:
                          name: 'Kassandra Bogisich II'
                          email: rogier.vandenberg+employee@paqt.com
                          emailVerifiedAt: '2024-12-09T13:16:02.000000Z'
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          example: user
                        id:
                          type: integer
                          example: 1
                        attributes:
                          type: object
                          properties:
                            name:
                              type: string
                              example: 'Jared Hill'
                            email:
                              type: string
                              example: francesco.wuckert@example.com
                            emailVerifiedAt:
                              type: string
                              example: '2024-12-09T13:16:01.000000Z'
                            createdAt:
                              type: string
                              example: '2024-12-09T13:16:02.000000Z'
                            updatedAt:
                              type: string
                              example: '2024-12-09T13:16:02.000000Z'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: 'http://tickets-please.localtest.me/api/v1/author?page=1'
                      last:
                        type: string
                        example: 'http://tickets-please.localtest.me/api/v1/author?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: '&laquo; Previous'
                            active: false
                          -
                            url: 'http://tickets-please.localtest.me/api/v1/author?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: 'Next &raquo;'
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: '&laquo; Previous'
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: 'http://tickets-please.localtest.me/api/v1/author'
                      per_page:
                        type: integer
                        example: 15
                      to:
                        type: integer
                        example: 12
                      total:
                        type: integer
                        example: 12
      tags:
        - Endpoints
  '/api/v1/author/{id}':
    get:
      summary: ''
      operationId: getApiV1AuthorId
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    type: user
                    id: 1
                    attributes:
                      name: 'Jared Hill'
                      email: francesco.wuckert@example.com
                      emailVerifiedAt: '2024-12-09T13:16:01.000000Z'
                      createdAt: '2024-12-09T13:16:02.000000Z'
                      updatedAt: '2024-12-09T13:16:02.000000Z'
                properties:
                  data:
                    type: object
                    properties:
                      type:
                        type: string
                        example: user
                      id:
                        type: integer
                        example: 1
                      attributes:
                        type: object
                        properties:
                          name:
                            type: string
                            example: 'Jared Hill'
                          email:
                            type: string
                            example: francesco.wuckert@example.com
                          emailVerifiedAt:
                            type: string
                            example: '2024-12-09T13:16:01.000000Z'
                          createdAt:
                            type: string
                            example: '2024-12-09T13:16:02.000000Z'
                          updatedAt:
                            type: string
                            example: '2024-12-09T13:16:02.000000Z'
      tags:
        - Endpoints
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the author.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/v1/author/{author_id}/ticket':
    get:
      summary: ''
      operationId: getApiV1AuthorAuthor_idTicket
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      type: ticket
                      id: 57
                      attributes:
                        title: 'nemo harum commodi'
                        status: X
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                      relationships:
                        author:
                          data:
                            type: user
                            id: 1
                          links:
                            self: 'http://tickets-please.localtest.me/api/v1/author/1'
                      links:
                        self: 'http://tickets-please.localtest.me/api/v1/ticket/57'
                    -
                      type: ticket
                      id: 73
                      attributes:
                        title: 'voluptatem eveniet incidunt'
                        status: X
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                      relationships:
                        author:
                          data:
                            type: user
                            id: 1
                          links:
                            self: 'http://tickets-please.localtest.me/api/v1/author/1'
                      links:
                        self: 'http://tickets-please.localtest.me/api/v1/ticket/73'
                    -
                      type: ticket
                      id: 90
                      attributes:
                        title: 'quas dolores doloribus'
                        status: A
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                      relationships:
                        author:
                          data:
                            type: user
                            id: 1
                          links:
                            self: 'http://tickets-please.localtest.me/api/v1/author/1'
                      links:
                        self: 'http://tickets-please.localtest.me/api/v1/ticket/90'
                    -
                      type: ticket
                      id: 94
                      attributes:
                        title: 'officiis officiis id'
                        status: A
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                      relationships:
                        author:
                          data:
                            type: user
                            id: 1
                          links:
                            self: 'http://tickets-please.localtest.me/api/v1/author/1'
                      links:
                        self: 'http://tickets-please.localtest.me/api/v1/ticket/94'
                  links:
                    first: 'http://tickets-please.localtest.me/api/v1/author/1/ticket?page=1'
                    last: 'http://tickets-please.localtest.me/api/v1/author/1/ticket?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: '&laquo; Previous'
                        active: false
                      -
                        url: 'http://tickets-please.localtest.me/api/v1/author/1/ticket?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: 'Next &raquo;'
                        active: false
                    path: 'http://tickets-please.localtest.me/api/v1/author/1/ticket'
                    per_page: 15
                    to: 4
                    total: 4
                properties:
                  data:
                    type: array
                    example:
                      -
                        type: ticket
                        id: 57
                        attributes:
                          title: 'nemo harum commodi'
                          status: X
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                        relationships:
                          author:
                            data:
                              type: user
                              id: 1
                            links:
                              self: 'http://tickets-please.localtest.me/api/v1/author/1'
                        links:
                          self: 'http://tickets-please.localtest.me/api/v1/ticket/57'
                      -
                        type: ticket
                        id: 73
                        attributes:
                          title: 'voluptatem eveniet incidunt'
                          status: X
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                        relationships:
                          author:
                            data:
                              type: user
                              id: 1
                            links:
                              self: 'http://tickets-please.localtest.me/api/v1/author/1'
                        links:
                          self: 'http://tickets-please.localtest.me/api/v1/ticket/73'
                      -
                        type: ticket
                        id: 90
                        attributes:
                          title: 'quas dolores doloribus'
                          status: A
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                        relationships:
                          author:
                            data:
                              type: user
                              id: 1
                            links:
                              self: 'http://tickets-please.localtest.me/api/v1/author/1'
                        links:
                          self: 'http://tickets-please.localtest.me/api/v1/ticket/90'
                      -
                        type: ticket
                        id: 94
                        attributes:
                          title: 'officiis officiis id'
                          status: A
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                        relationships:
                          author:
                            data:
                              type: user
                              id: 1
                            links:
                              self: 'http://tickets-please.localtest.me/api/v1/author/1'
                        links:
                          self: 'http://tickets-please.localtest.me/api/v1/ticket/94'
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          example: ticket
                        id:
                          type: integer
                          example: 57
                        attributes:
                          type: object
                          properties:
                            title:
                              type: string
                              example: 'nemo harum commodi'
                            status:
                              type: string
                              example: X
                            createdAt:
                              type: string
                              example: '2024-12-09T13:16:02.000000Z'
                            updatedAt:
                              type: string
                              example: '2024-12-09T13:16:02.000000Z'
                        relationships:
                          type: object
                          properties:
                            author:
                              type: object
                              properties:
                                data:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      example: user
                                    id:
                                      type: integer
                                      example: 1
                                links:
                                  type: object
                                  properties:
                                    self:
                                      type: string
                                      example: 'http://tickets-please.localtest.me/api/v1/author/1'
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://tickets-please.localtest.me/api/v1/ticket/57'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: 'http://tickets-please.localtest.me/api/v1/author/1/ticket?page=1'
                      last:
                        type: string
                        example: 'http://tickets-please.localtest.me/api/v1/author/1/ticket?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: '&laquo; Previous'
                            active: false
                          -
                            url: 'http://tickets-please.localtest.me/api/v1/author/1/ticket?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: 'Next &raquo;'
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: '&laquo; Previous'
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: 'http://tickets-please.localtest.me/api/v1/author/1/ticket'
                      per_page:
                        type: integer
                        example: 15
                      to:
                        type: integer
                        example: 4
                      total:
                        type: integer
                        example: 4
      tags:
        - Endpoints
    post:
      summary: ''
      operationId: postApiV1AuthorAuthor_idTicket
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  description: ''
                  example: []
                  nullable: false
                  properties:
                    attributes:
                      type: object
                      description: ''
                      example: []
                      nullable: false
                      properties:
                        title:
                          type: string
                          description: ''
                          example: possimus
                          nullable: false
                        description:
                          type: string
                          description: ''
                          example: 'Sed ipsam mollitia quisquam iusto dolorem qui qui.'
                          nullable: false
                        status:
                          type: string
                          description: ''
                          example: H
                          nullable: false
                          enum:
                            - A
                            - C
                            - H
                            - X
    parameters:
      -
        in: path
        name: author_id
        description: 'The ID of the author.'
        example: 1
        required: true
        schema:
          type: integer
tags:
  -
    name: Endpoints
    description: ''
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: 'You can retrieve your token by visiting your dashboard and clicking <b>Generate API token</b>.'
security:
  -
    default: []
