openapi: 3.0.3
info:
  title: 'Tickets Please API Documentation'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'http://tickets-please.localtest.me'
paths:
  /api/login:
    post:
      summary: Login
      operationId: login
      description: 'Authenticates the user and returns your generated API token.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Authenticated
                  data:
                    token: 15|XpIxvsWpD5oVfVZRWN05Tz0wOg4pL4cNuCstfM5h1157c728
                  'status ': 200
                properties:
                  message:
                    type: string
                    example: Authenticated
                  data:
                    type: object
                    properties:
                      token:
                        type: string
                        example: 15|XpIxvsWpD5oVfVZRWN05Tz0wOg4pL4cNuCstfM5h1157c728
                  'status ':
                    type: integer
                    example: 200
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: balistreri.marina@example.net
                  nullable: false
                password:
                  type: string
                  description: ''
                  example: 'W?rFIcxNaI'
                  nullable: false
              required:
                - email
                - password
      security: []
  /api/logout:
    post:
      summary: Logout
      operationId: logout
      description: 'Signs out the authenticated user and destroys the API token.'
      parameters: []
      responses: {  }
      tags:
        - Authentication
  /api/v1/author:
    get:
      summary: ''
      operationId: getApiV1Author
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      type: user
                      id: 1
                      attributes:
                        name: 'Jared Hill'
                        email: francesco.wuckert@example.com
                        emailVerifiedAt: '2024-12-09T13:16:01.000000Z'
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                    -
                      type: user
                      id: 2
                      attributes:
                        name: 'Prof. Agnes Buckridge I'
                        email: preston.nicolas@example.org
                        emailVerifiedAt: '2024-12-09T13:16:02.000000Z'
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                    -
                      type: user
                      id: 3
                      attributes:
                        name: 'Lindsey Kling'
                        email: yvette.schultz@example.com
                        emailVerifiedAt: '2024-12-09T13:16:02.000000Z'
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                    -
                      type: user
                      id: 4
                      attributes:
                        name: 'Mercedes Adams III'
                        email: michale99@example.com
                        emailVerifiedAt: '2024-12-09T13:16:02.000000Z'
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                    -
                      type: user
                      id: 5
                      attributes:
                        name: 'Joaquin Lebsack'
                        email: tjenkins@example.com
                        emailVerifiedAt: '2024-12-09T13:16:02.000000Z'
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                    -
                      type: user
                      id: 6
                      attributes:
                        name: 'Rollin Robel'
                        email: nienow.jerome@example.net
                        emailVerifiedAt: '2024-12-09T13:16:02.000000Z'
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                    -
                      type: user
                      id: 7
                      attributes:
                        name: 'Brayan Cummings Sr.'
                        email: ruecker.lamar@example.org
                        emailVerifiedAt: '2024-12-09T13:16:02.000000Z'
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                    -
                      type: user
                      id: 8
                      attributes:
                        name: 'Dr. Ashleigh Runolfsdottir'
                        email: darryl.pfeffer@example.com
                        emailVerifiedAt: '2024-12-09T13:16:02.000000Z'
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                    -
                      type: user
                      id: 9
                      attributes:
                        name: 'Wendell Langosh'
                        email: nicole.crooks@example.org
                        emailVerifiedAt: '2024-12-09T13:16:02.000000Z'
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                    -
                      type: user
                      id: 10
                      attributes:
                        name: 'Emilie Considine I'
                        email: gfriesen@example.com
                        emailVerifiedAt: '2024-12-09T13:16:02.000000Z'
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                    -
                      type: user
                      id: 11
                      attributes:
                        name: 'Cade Schamberger'
                        email: rogier.vandenberg+manager@paqt.com
                        emailVerifiedAt: '2024-12-09T13:16:02.000000Z'
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                    -
                      type: user
                      id: 12
                      attributes:
                        name: 'Kassandra Bogisich II'
                        email: rogier.vandenberg+employee@paqt.com
                        emailVerifiedAt: '2024-12-09T13:16:02.000000Z'
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                  links:
                    first: 'http://tickets-please.localtest.me/api/v1/author?page=1'
                    last: 'http://tickets-please.localtest.me/api/v1/author?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: '&laquo; Previous'
                        active: false
                      -
                        url: 'http://tickets-please.localtest.me/api/v1/author?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: 'Next &raquo;'
                        active: false
                    path: 'http://tickets-please.localtest.me/api/v1/author'
                    per_page: 15
                    to: 12
                    total: 12
                properties:
                  data:
                    type: array
                    example:
                      -
                        type: user
                        id: 1
                        attributes:
                          name: 'Jared Hill'
                          email: francesco.wuckert@example.com
                          emailVerifiedAt: '2024-12-09T13:16:01.000000Z'
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                      -
                        type: user
                        id: 2
                        attributes:
                          name: 'Prof. Agnes Buckridge I'
                          email: preston.nicolas@example.org
                          emailVerifiedAt: '2024-12-09T13:16:02.000000Z'
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                      -
                        type: user
                        id: 3
                        attributes:
                          name: 'Lindsey Kling'
                          email: yvette.schultz@example.com
                          emailVerifiedAt: '2024-12-09T13:16:02.000000Z'
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                      -
                        type: user
                        id: 4
                        attributes:
                          name: 'Mercedes Adams III'
                          email: michale99@example.com
                          emailVerifiedAt: '2024-12-09T13:16:02.000000Z'
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                      -
                        type: user
                        id: 5
                        attributes:
                          name: 'Joaquin Lebsack'
                          email: tjenkins@example.com
                          emailVerifiedAt: '2024-12-09T13:16:02.000000Z'
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                      -
                        type: user
                        id: 6
                        attributes:
                          name: 'Rollin Robel'
                          email: nienow.jerome@example.net
                          emailVerifiedAt: '2024-12-09T13:16:02.000000Z'
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                      -
                        type: user
                        id: 7
                        attributes:
                          name: 'Brayan Cummings Sr.'
                          email: ruecker.lamar@example.org
                          emailVerifiedAt: '2024-12-09T13:16:02.000000Z'
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                      -
                        type: user
                        id: 8
                        attributes:
                          name: 'Dr. Ashleigh Runolfsdottir'
                          email: darryl.pfeffer@example.com
                          emailVerifiedAt: '2024-12-09T13:16:02.000000Z'
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                      -
                        type: user
                        id: 9
                        attributes:
                          name: 'Wendell Langosh'
                          email: nicole.crooks@example.org
                          emailVerifiedAt: '2024-12-09T13:16:02.000000Z'
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                      -
                        type: user
                        id: 10
                        attributes:
                          name: 'Emilie Considine I'
                          email: gfriesen@example.com
                          emailVerifiedAt: '2024-12-09T13:16:02.000000Z'
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                      -
                        type: user
                        id: 11
                        attributes:
                          name: 'Cade Schamberger'
                          email: rogier.vandenberg+manager@paqt.com
                          emailVerifiedAt: '2024-12-09T13:16:02.000000Z'
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                      -
                        type: user
                        id: 12
                        attributes:
                          name: 'Kassandra Bogisich II'
                          email: rogier.vandenberg+employee@paqt.com
                          emailVerifiedAt: '2024-12-09T13:16:02.000000Z'
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          example: user
                        id:
                          type: integer
                          example: 1
                        attributes:
                          type: object
                          properties:
                            name:
                              type: string
                              example: 'Jared Hill'
                            email:
                              type: string
                              example: francesco.wuckert@example.com
                            emailVerifiedAt:
                              type: string
                              example: '2024-12-09T13:16:01.000000Z'
                            createdAt:
                              type: string
                              example: '2024-12-09T13:16:02.000000Z'
                            updatedAt:
                              type: string
                              example: '2024-12-09T13:16:02.000000Z'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: 'http://tickets-please.localtest.me/api/v1/author?page=1'
                      last:
                        type: string
                        example: 'http://tickets-please.localtest.me/api/v1/author?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: '&laquo; Previous'
                            active: false
                          -
                            url: 'http://tickets-please.localtest.me/api/v1/author?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: 'Next &raquo;'
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: '&laquo; Previous'
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: 'http://tickets-please.localtest.me/api/v1/author'
                      per_page:
                        type: integer
                        example: 15
                      to:
                        type: integer
                        example: 12
                      total:
                        type: integer
                        example: 12
      tags:
        - Endpoints
  '/api/v1/author/{id}':
    get:
      summary: ''
      operationId: getApiV1AuthorId
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    type: user
                    id: 1
                    attributes:
                      name: 'Jared Hill'
                      email: francesco.wuckert@example.com
                      emailVerifiedAt: '2024-12-09T13:16:01.000000Z'
                      createdAt: '2024-12-09T13:16:02.000000Z'
                      updatedAt: '2024-12-09T13:16:02.000000Z'
                properties:
                  data:
                    type: object
                    properties:
                      type:
                        type: string
                        example: user
                      id:
                        type: integer
                        example: 1
                      attributes:
                        type: object
                        properties:
                          name:
                            type: string
                            example: 'Jared Hill'
                          email:
                            type: string
                            example: francesco.wuckert@example.com
                          emailVerifiedAt:
                            type: string
                            example: '2024-12-09T13:16:01.000000Z'
                          createdAt:
                            type: string
                            example: '2024-12-09T13:16:02.000000Z'
                          updatedAt:
                            type: string
                            example: '2024-12-09T13:16:02.000000Z'
      tags:
        - Endpoints
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the author.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/v1/author/{author_id}/ticket':
    get:
      summary: ''
      operationId: getApiV1AuthorAuthor_idTicket
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      type: ticket
                      id: 57
                      attributes:
                        title: 'nemo harum commodi'
                        status: X
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                      relationships:
                        author:
                          data:
                            type: user
                            id: 1
                          links:
                            self: 'http://tickets-please.localtest.me/api/v1/author/1'
                      links:
                        self: 'http://tickets-please.localtest.me/api/v1/ticket/57'
                    -
                      type: ticket
                      id: 73
                      attributes:
                        title: 'voluptatem eveniet incidunt'
                        status: X
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                      relationships:
                        author:
                          data:
                            type: user
                            id: 1
                          links:
                            self: 'http://tickets-please.localtest.me/api/v1/author/1'
                      links:
                        self: 'http://tickets-please.localtest.me/api/v1/ticket/73'
                    -
                      type: ticket
                      id: 90
                      attributes:
                        title: 'quas dolores doloribus'
                        status: A
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                      relationships:
                        author:
                          data:
                            type: user
                            id: 1
                          links:
                            self: 'http://tickets-please.localtest.me/api/v1/author/1'
                      links:
                        self: 'http://tickets-please.localtest.me/api/v1/ticket/90'
                    -
                      type: ticket
                      id: 94
                      attributes:
                        title: 'officiis officiis id'
                        status: A
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                      relationships:
                        author:
                          data:
                            type: user
                            id: 1
                          links:
                            self: 'http://tickets-please.localtest.me/api/v1/author/1'
                      links:
                        self: 'http://tickets-please.localtest.me/api/v1/ticket/94'
                  links:
                    first: 'http://tickets-please.localtest.me/api/v1/author/1/ticket?page=1'
                    last: 'http://tickets-please.localtest.me/api/v1/author/1/ticket?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: '&laquo; Previous'
                        active: false
                      -
                        url: 'http://tickets-please.localtest.me/api/v1/author/1/ticket?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: 'Next &raquo;'
                        active: false
                    path: 'http://tickets-please.localtest.me/api/v1/author/1/ticket'
                    per_page: 15
                    to: 4
                    total: 4
                properties:
                  data:
                    type: array
                    example:
                      -
                        type: ticket
                        id: 57
                        attributes:
                          title: 'nemo harum commodi'
                          status: X
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                        relationships:
                          author:
                            data:
                              type: user
                              id: 1
                            links:
                              self: 'http://tickets-please.localtest.me/api/v1/author/1'
                        links:
                          self: 'http://tickets-please.localtest.me/api/v1/ticket/57'
                      -
                        type: ticket
                        id: 73
                        attributes:
                          title: 'voluptatem eveniet incidunt'
                          status: X
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                        relationships:
                          author:
                            data:
                              type: user
                              id: 1
                            links:
                              self: 'http://tickets-please.localtest.me/api/v1/author/1'
                        links:
                          self: 'http://tickets-please.localtest.me/api/v1/ticket/73'
                      -
                        type: ticket
                        id: 90
                        attributes:
                          title: 'quas dolores doloribus'
                          status: A
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                        relationships:
                          author:
                            data:
                              type: user
                              id: 1
                            links:
                              self: 'http://tickets-please.localtest.me/api/v1/author/1'
                        links:
                          self: 'http://tickets-please.localtest.me/api/v1/ticket/90'
                      -
                        type: ticket
                        id: 94
                        attributes:
                          title: 'officiis officiis id'
                          status: A
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                        relationships:
                          author:
                            data:
                              type: user
                              id: 1
                            links:
                              self: 'http://tickets-please.localtest.me/api/v1/author/1'
                        links:
                          self: 'http://tickets-please.localtest.me/api/v1/ticket/94'
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          example: ticket
                        id:
                          type: integer
                          example: 57
                        attributes:
                          type: object
                          properties:
                            title:
                              type: string
                              example: 'nemo harum commodi'
                            status:
                              type: string
                              example: X
                            createdAt:
                              type: string
                              example: '2024-12-09T13:16:02.000000Z'
                            updatedAt:
                              type: string
                              example: '2024-12-09T13:16:02.000000Z'
                        relationships:
                          type: object
                          properties:
                            author:
                              type: object
                              properties:
                                data:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      example: user
                                    id:
                                      type: integer
                                      example: 1
                                links:
                                  type: object
                                  properties:
                                    self:
                                      type: string
                                      example: 'http://tickets-please.localtest.me/api/v1/author/1'
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://tickets-please.localtest.me/api/v1/ticket/57'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: 'http://tickets-please.localtest.me/api/v1/author/1/ticket?page=1'
                      last:
                        type: string
                        example: 'http://tickets-please.localtest.me/api/v1/author/1/ticket?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: '&laquo; Previous'
                            active: false
                          -
                            url: 'http://tickets-please.localtest.me/api/v1/author/1/ticket?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: 'Next &raquo;'
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: '&laquo; Previous'
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: 'http://tickets-please.localtest.me/api/v1/author/1/ticket'
                      per_page:
                        type: integer
                        example: 15
                      to:
                        type: integer
                        example: 4
                      total:
                        type: integer
                        example: 4
      tags:
        - Endpoints
    post:
      summary: ''
      operationId: postApiV1AuthorAuthor_idTicket
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  description: ''
                  example: []
                  nullable: false
                  properties:
                    attributes:
                      type: object
                      description: ''
                      example: []
                      nullable: false
                      properties:
                        title:
                          type: string
                          description: "The ticket's title."
                          example: null
                          nullable: false
                        description:
                          type: string
                          description: ''
                          example: 'Ipsum nobis unde rerum neque adipisci voluptatem sed.'
                          nullable: false
                        status:
                          type: string
                          description: ''
                          example: X
                          nullable: false
                          enum:
                            - A
                            - C
                            - H
                            - X
              required:
                - data
    parameters:
      -
        in: path
        name: author_id
        description: 'The ID of the author.'
        example: 1
        required: true
        schema:
          type: integer
  /api/v1/ticket:
    get:
      summary: 'Ticket overview'
      operationId: ticketOverview
      description: 'Display a paginated list of tickets.'
      parameters:
        -
          in: query
          name: sort
          description: 'The data fields to sort by. Comma separated. Descending sort is done by prefixing with a minus sign.'
          example: 'status,-title'
          required: false
          schema:
            type: string
            description: 'The data fields to sort by. Comma separated. Descending sort is done by prefixing with a minus sign.'
            example: 'status,-title'
            nullable: false
        -
          in: query
          name: 'filter[status]'
          description: 'Filter by status code. Available options: A, C, H, X.'
          example: null
          required: false
          schema:
            type: string
            description: 'Filter by status code. Available options: A, C, H, X.'
            example: null
            nullable: false
        -
          in: query
          name: 'filter[title]'
          description: 'Filter by title. Wildcards are supported.'
          example: '*Refinement*'
          required: false
          schema:
            type: string
            description: 'Filter by title. Wildcards are supported.'
            example: '*Refinement*'
            nullable: false
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      type: ticket
                      id: 12
                      attributes:
                        title: 'voluptatem distinctio saepe'
                        status: A
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                      relationships:
                        author:
                          data:
                            type: user
                            id: 7
                          links:
                            self: 'http://tickets-please.localtest.me/api/v1/author/7'
                      links:
                        self: 'http://tickets-please.localtest.me/api/v1/ticket/12'
                    -
                      type: ticket
                      id: 89
                      attributes:
                        title: 'voluptas et perspiciatis'
                        status: A
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                      relationships:
                        author:
                          data:
                            type: user
                            id: 9
                          links:
                            self: 'http://tickets-please.localtest.me/api/v1/author/9'
                      links:
                        self: 'http://tickets-please.localtest.me/api/v1/ticket/89'
                    -
                      type: ticket
                      id: 85
                      attributes:
                        title: 'veniam cumque possimus'
                        status: A
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                      relationships:
                        author:
                          data:
                            type: user
                            id: 10
                          links:
                            self: 'http://tickets-please.localtest.me/api/v1/author/10'
                      links:
                        self: 'http://tickets-please.localtest.me/api/v1/ticket/85'
                    -
                      type: ticket
                      id: 68
                      attributes:
                        title: 'ut natus exercitationem'
                        status: A
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                      relationships:
                        author:
                          data:
                            type: user
                            id: 8
                          links:
                            self: 'http://tickets-please.localtest.me/api/v1/author/8'
                      links:
                        self: 'http://tickets-please.localtest.me/api/v1/ticket/68'
                    -
                      type: ticket
                      id: 104
                      attributes:
                        title: 'Test title'
                        status: A
                        createdAt: '2024-12-09T13:27:11.000000Z'
                        updatedAt: '2024-12-09T13:27:11.000000Z'
                      relationships:
                        author:
                          data:
                            type: user
                            id: 12
                          links:
                            self: 'http://tickets-please.localtest.me/api/v1/author/12'
                      links:
                        self: 'http://tickets-please.localtest.me/api/v1/ticket/104'
                    -
                      type: ticket
                      id: 106
                      attributes:
                        title: 'Test title'
                        status: A
                        createdAt: '2024-12-09T13:51:13.000000Z'
                        updatedAt: '2024-12-09T13:51:13.000000Z'
                      relationships:
                        author:
                          data:
                            type: user
                            id: 12
                          links:
                            self: 'http://tickets-please.localtest.me/api/v1/author/12'
                      links:
                        self: 'http://tickets-please.localtest.me/api/v1/ticket/106'
                    -
                      type: ticket
                      id: 107
                      attributes:
                        title: 'Test title'
                        status: A
                        createdAt: '2024-12-09T14:26:53.000000Z'
                        updatedAt: '2024-12-09T14:26:53.000000Z'
                      relationships:
                        author:
                          data:
                            type: user
                            id: 12
                          links:
                            self: 'http://tickets-please.localtest.me/api/v1/author/12'
                      links:
                        self: 'http://tickets-please.localtest.me/api/v1/ticket/107'
                    -
                      type: ticket
                      id: 108
                      attributes:
                        title: 'Test title'
                        status: A
                        createdAt: '2024-12-09T14:27:04.000000Z'
                        updatedAt: '2024-12-09T14:27:04.000000Z'
                      relationships:
                        author:
                          data:
                            type: user
                            id: 12
                          links:
                            self: 'http://tickets-please.localtest.me/api/v1/author/12'
                      links:
                        self: 'http://tickets-please.localtest.me/api/v1/ticket/108'
                    -
                      type: ticket
                      id: 110
                      attributes:
                        title: 'Test title'
                        status: A
                        createdAt: '2024-12-09T14:42:21.000000Z'
                        updatedAt: '2024-12-09T14:42:21.000000Z'
                      relationships:
                        author:
                          data:
                            type: user
                            id: 12
                          links:
                            self: 'http://tickets-please.localtest.me/api/v1/author/12'
                      links:
                        self: 'http://tickets-please.localtest.me/api/v1/ticket/110'
                    -
                      type: ticket
                      id: 111
                      attributes:
                        title: 'Test title'
                        status: A
                        createdAt: '2024-12-09T14:42:25.000000Z'
                        updatedAt: '2024-12-09T14:42:25.000000Z'
                      relationships:
                        author:
                          data:
                            type: user
                            id: 12
                          links:
                            self: 'http://tickets-please.localtest.me/api/v1/author/12'
                      links:
                        self: 'http://tickets-please.localtest.me/api/v1/ticket/111'
                    -
                      type: ticket
                      id: 112
                      attributes:
                        title: 'Test title'
                        status: A
                        createdAt: '2024-12-09T14:43:16.000000Z'
                        updatedAt: '2024-12-09T14:43:16.000000Z'
                      relationships:
                        author:
                          data:
                            type: user
                            id: 12
                          links:
                            self: 'http://tickets-please.localtest.me/api/v1/author/12'
                      links:
                        self: 'http://tickets-please.localtest.me/api/v1/ticket/112'
                    -
                      type: ticket
                      id: 113
                      attributes:
                        title: 'Test title'
                        status: A
                        createdAt: '2024-12-09T14:43:55.000000Z'
                        updatedAt: '2024-12-09T14:43:55.000000Z'
                      relationships:
                        author:
                          data:
                            type: user
                            id: 3
                          links:
                            self: 'http://tickets-please.localtest.me/api/v1/author/3'
                      links:
                        self: 'http://tickets-please.localtest.me/api/v1/ticket/113'
                    -
                      type: ticket
                      id: 82
                      attributes:
                        title: 'tenetur ea dolores'
                        status: A
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                      relationships:
                        author:
                          data:
                            type: user
                            id: 2
                          links:
                            self: 'http://tickets-please.localtest.me/api/v1/author/2'
                      links:
                        self: 'http://tickets-please.localtest.me/api/v1/ticket/82'
                    -
                      type: ticket
                      id: 38
                      attributes:
                        title: 'soluta qui eos'
                        status: A
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                      relationships:
                        author:
                          data:
                            type: user
                            id: 5
                          links:
                            self: 'http://tickets-please.localtest.me/api/v1/author/5'
                      links:
                        self: 'http://tickets-please.localtest.me/api/v1/ticket/38'
                    -
                      type: ticket
                      id: 4
                      attributes:
                        title: 'repellat omnis voluptatem'
                        status: A
                        createdAt: '2024-12-09T13:16:02.000000Z'
                        updatedAt: '2024-12-09T13:16:02.000000Z'
                      relationships:
                        author:
                          data:
                            type: user
                            id: 6
                          links:
                            self: 'http://tickets-please.localtest.me/api/v1/author/6'
                      links:
                        self: 'http://tickets-please.localtest.me/api/v1/ticket/4'
                  links:
                    first: 'http://tickets-please.localtest.me/api/v1/ticket?page=1'
                    last: 'http://tickets-please.localtest.me/api/v1/ticket?page=8'
                    prev: null
                    next: 'http://tickets-please.localtest.me/api/v1/ticket?page=2'
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 8
                    links:
                      -
                        url: null
                        label: '&laquo; Previous'
                        active: false
                      -
                        url: 'http://tickets-please.localtest.me/api/v1/ticket?page=1'
                        label: '1'
                        active: true
                      -
                        url: 'http://tickets-please.localtest.me/api/v1/ticket?page=2'
                        label: '2'
                        active: false
                      -
                        url: 'http://tickets-please.localtest.me/api/v1/ticket?page=3'
                        label: '3'
                        active: false
                      -
                        url: 'http://tickets-please.localtest.me/api/v1/ticket?page=4'
                        label: '4'
                        active: false
                      -
                        url: 'http://tickets-please.localtest.me/api/v1/ticket?page=5'
                        label: '5'
                        active: false
                      -
                        url: 'http://tickets-please.localtest.me/api/v1/ticket?page=6'
                        label: '6'
                        active: false
                      -
                        url: 'http://tickets-please.localtest.me/api/v1/ticket?page=7'
                        label: '7'
                        active: false
                      -
                        url: 'http://tickets-please.localtest.me/api/v1/ticket?page=8'
                        label: '8'
                        active: false
                      -
                        url: 'http://tickets-please.localtest.me/api/v1/ticket?page=2'
                        label: 'Next &raquo;'
                        active: false
                    path: 'http://tickets-please.localtest.me/api/v1/ticket'
                    per_page: 15
                    to: 15
                    total: 111
                properties:
                  data:
                    type: array
                    example:
                      -
                        type: ticket
                        id: 12
                        attributes:
                          title: 'voluptatem distinctio saepe'
                          status: A
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                        relationships:
                          author:
                            data:
                              type: user
                              id: 7
                            links:
                              self: 'http://tickets-please.localtest.me/api/v1/author/7'
                        links:
                          self: 'http://tickets-please.localtest.me/api/v1/ticket/12'
                      -
                        type: ticket
                        id: 89
                        attributes:
                          title: 'voluptas et perspiciatis'
                          status: A
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                        relationships:
                          author:
                            data:
                              type: user
                              id: 9
                            links:
                              self: 'http://tickets-please.localtest.me/api/v1/author/9'
                        links:
                          self: 'http://tickets-please.localtest.me/api/v1/ticket/89'
                      -
                        type: ticket
                        id: 85
                        attributes:
                          title: 'veniam cumque possimus'
                          status: A
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                        relationships:
                          author:
                            data:
                              type: user
                              id: 10
                            links:
                              self: 'http://tickets-please.localtest.me/api/v1/author/10'
                        links:
                          self: 'http://tickets-please.localtest.me/api/v1/ticket/85'
                      -
                        type: ticket
                        id: 68
                        attributes:
                          title: 'ut natus exercitationem'
                          status: A
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                        relationships:
                          author:
                            data:
                              type: user
                              id: 8
                            links:
                              self: 'http://tickets-please.localtest.me/api/v1/author/8'
                        links:
                          self: 'http://tickets-please.localtest.me/api/v1/ticket/68'
                      -
                        type: ticket
                        id: 104
                        attributes:
                          title: 'Test title'
                          status: A
                          createdAt: '2024-12-09T13:27:11.000000Z'
                          updatedAt: '2024-12-09T13:27:11.000000Z'
                        relationships:
                          author:
                            data:
                              type: user
                              id: 12
                            links:
                              self: 'http://tickets-please.localtest.me/api/v1/author/12'
                        links:
                          self: 'http://tickets-please.localtest.me/api/v1/ticket/104'
                      -
                        type: ticket
                        id: 106
                        attributes:
                          title: 'Test title'
                          status: A
                          createdAt: '2024-12-09T13:51:13.000000Z'
                          updatedAt: '2024-12-09T13:51:13.000000Z'
                        relationships:
                          author:
                            data:
                              type: user
                              id: 12
                            links:
                              self: 'http://tickets-please.localtest.me/api/v1/author/12'
                        links:
                          self: 'http://tickets-please.localtest.me/api/v1/ticket/106'
                      -
                        type: ticket
                        id: 107
                        attributes:
                          title: 'Test title'
                          status: A
                          createdAt: '2024-12-09T14:26:53.000000Z'
                          updatedAt: '2024-12-09T14:26:53.000000Z'
                        relationships:
                          author:
                            data:
                              type: user
                              id: 12
                            links:
                              self: 'http://tickets-please.localtest.me/api/v1/author/12'
                        links:
                          self: 'http://tickets-please.localtest.me/api/v1/ticket/107'
                      -
                        type: ticket
                        id: 108
                        attributes:
                          title: 'Test title'
                          status: A
                          createdAt: '2024-12-09T14:27:04.000000Z'
                          updatedAt: '2024-12-09T14:27:04.000000Z'
                        relationships:
                          author:
                            data:
                              type: user
                              id: 12
                            links:
                              self: 'http://tickets-please.localtest.me/api/v1/author/12'
                        links:
                          self: 'http://tickets-please.localtest.me/api/v1/ticket/108'
                      -
                        type: ticket
                        id: 110
                        attributes:
                          title: 'Test title'
                          status: A
                          createdAt: '2024-12-09T14:42:21.000000Z'
                          updatedAt: '2024-12-09T14:42:21.000000Z'
                        relationships:
                          author:
                            data:
                              type: user
                              id: 12
                            links:
                              self: 'http://tickets-please.localtest.me/api/v1/author/12'
                        links:
                          self: 'http://tickets-please.localtest.me/api/v1/ticket/110'
                      -
                        type: ticket
                        id: 111
                        attributes:
                          title: 'Test title'
                          status: A
                          createdAt: '2024-12-09T14:42:25.000000Z'
                          updatedAt: '2024-12-09T14:42:25.000000Z'
                        relationships:
                          author:
                            data:
                              type: user
                              id: 12
                            links:
                              self: 'http://tickets-please.localtest.me/api/v1/author/12'
                        links:
                          self: 'http://tickets-please.localtest.me/api/v1/ticket/111'
                      -
                        type: ticket
                        id: 112
                        attributes:
                          title: 'Test title'
                          status: A
                          createdAt: '2024-12-09T14:43:16.000000Z'
                          updatedAt: '2024-12-09T14:43:16.000000Z'
                        relationships:
                          author:
                            data:
                              type: user
                              id: 12
                            links:
                              self: 'http://tickets-please.localtest.me/api/v1/author/12'
                        links:
                          self: 'http://tickets-please.localtest.me/api/v1/ticket/112'
                      -
                        type: ticket
                        id: 113
                        attributes:
                          title: 'Test title'
                          status: A
                          createdAt: '2024-12-09T14:43:55.000000Z'
                          updatedAt: '2024-12-09T14:43:55.000000Z'
                        relationships:
                          author:
                            data:
                              type: user
                              id: 3
                            links:
                              self: 'http://tickets-please.localtest.me/api/v1/author/3'
                        links:
                          self: 'http://tickets-please.localtest.me/api/v1/ticket/113'
                      -
                        type: ticket
                        id: 82
                        attributes:
                          title: 'tenetur ea dolores'
                          status: A
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                        relationships:
                          author:
                            data:
                              type: user
                              id: 2
                            links:
                              self: 'http://tickets-please.localtest.me/api/v1/author/2'
                        links:
                          self: 'http://tickets-please.localtest.me/api/v1/ticket/82'
                      -
                        type: ticket
                        id: 38
                        attributes:
                          title: 'soluta qui eos'
                          status: A
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                        relationships:
                          author:
                            data:
                              type: user
                              id: 5
                            links:
                              self: 'http://tickets-please.localtest.me/api/v1/author/5'
                        links:
                          self: 'http://tickets-please.localtest.me/api/v1/ticket/38'
                      -
                        type: ticket
                        id: 4
                        attributes:
                          title: 'repellat omnis voluptatem'
                          status: A
                          createdAt: '2024-12-09T13:16:02.000000Z'
                          updatedAt: '2024-12-09T13:16:02.000000Z'
                        relationships:
                          author:
                            data:
                              type: user
                              id: 6
                            links:
                              self: 'http://tickets-please.localtest.me/api/v1/author/6'
                        links:
                          self: 'http://tickets-please.localtest.me/api/v1/ticket/4'
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          example: ticket
                        id:
                          type: integer
                          example: 12
                        attributes:
                          type: object
                          properties:
                            title:
                              type: string
                              example: 'voluptatem distinctio saepe'
                            status:
                              type: string
                              example: A
                            createdAt:
                              type: string
                              example: '2024-12-09T13:16:02.000000Z'
                            updatedAt:
                              type: string
                              example: '2024-12-09T13:16:02.000000Z'
                        relationships:
                          type: object
                          properties:
                            author:
                              type: object
                              properties:
                                data:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      example: user
                                    id:
                                      type: integer
                                      example: 7
                                links:
                                  type: object
                                  properties:
                                    self:
                                      type: string
                                      example: 'http://tickets-please.localtest.me/api/v1/author/7'
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                              example: 'http://tickets-please.localtest.me/api/v1/ticket/12'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: 'http://tickets-please.localtest.me/api/v1/ticket?page=1'
                      last:
                        type: string
                        example: 'http://tickets-please.localtest.me/api/v1/ticket?page=8'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: 'http://tickets-please.localtest.me/api/v1/ticket?page=2'
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 8
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: '&laquo; Previous'
                            active: false
                          -
                            url: 'http://tickets-please.localtest.me/api/v1/ticket?page=1'
                            label: '1'
                            active: true
                          -
                            url: 'http://tickets-please.localtest.me/api/v1/ticket?page=2'
                            label: '2'
                            active: false
                          -
                            url: 'http://tickets-please.localtest.me/api/v1/ticket?page=3'
                            label: '3'
                            active: false
                          -
                            url: 'http://tickets-please.localtest.me/api/v1/ticket?page=4'
                            label: '4'
                            active: false
                          -
                            url: 'http://tickets-please.localtest.me/api/v1/ticket?page=5'
                            label: '5'
                            active: false
                          -
                            url: 'http://tickets-please.localtest.me/api/v1/ticket?page=6'
                            label: '6'
                            active: false
                          -
                            url: 'http://tickets-please.localtest.me/api/v1/ticket?page=7'
                            label: '7'
                            active: false
                          -
                            url: 'http://tickets-please.localtest.me/api/v1/ticket?page=8'
                            label: '8'
                            active: false
                          -
                            url: 'http://tickets-please.localtest.me/api/v1/ticket?page=2'
                            label: 'Next &raquo;'
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: '&laquo; Previous'
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: 'http://tickets-please.localtest.me/api/v1/ticket'
                      per_page:
                        type: integer
                        example: 15
                      to:
                        type: integer
                        example: 15
                      total:
                        type: integer
                        example: 111
      tags:
        - Ticket
    post:
      summary: 'Ticket store'
      operationId: ticketStore
      description: "Create a new ticket. The ticket's author is set to the authenticated user, except for managers, who must supply the author_id."
      parameters: []
      responses: {  }
      tags:
        - Ticket
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  description: ''
                  example: []
                  nullable: false
                  properties:
                    attributes:
                      type: object
                      description: ''
                      example: []
                      nullable: false
                      properties:
                        title:
                          type: string
                          description: "The ticket's title."
                          example: null
                          nullable: false
                        description:
                          type: string
                          description: ''
                          example: 'Enim dolor nisi doloremque neque nemo.'
                          nullable: false
                        status:
                          type: string
                          description: ''
                          example: X
                          nullable: false
                          enum:
                            - A
                            - C
                            - H
                            - X
                    relationships:
                      type: object
                      description: ''
                      example: []
                      nullable: false
                      properties:
                        author:
                          type: object
                          description: ''
                          example: []
                          nullable: false
                          properties:
                            data:
                              type: object
                              description: ''
                              example: []
                              nullable: false
                              properties:
                                id:
                                  type: integer
                                  description: 'The author to assign the ticket to. The <code>id</code> of an existing record in the users table.'
                                  example: 18
                                  nullable: false
              required:
                - data
  '/api/v1/ticket/{id}':
    get:
      summary: 'Ticket show'
      operationId: ticketShow
      description: "Display a single ticket's details."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    type: ticket
                    id: 1
                    attributes:
                      title: 'Test title 3'
                      description: 'Test description 3'
                      status: X
                      createdAt: '2024-12-09T13:16:02.000000Z'
                      updatedAt: '2024-12-09T14:44:08.000000Z'
                    relationships:
                      author:
                        data:
                          type: user
                          id: 9
                        links:
                          self: 'http://tickets-please.localtest.me/api/v1/author/9'
                    links:
                      self: 'http://tickets-please.localtest.me/api/v1/ticket/1'
                properties:
                  data:
                    type: object
                    properties:
                      type:
                        type: string
                        example: ticket
                      id:
                        type: integer
                        example: 1
                      attributes:
                        type: object
                        properties:
                          title:
                            type: string
                            example: 'Test title 3'
                          description:
                            type: string
                            example: 'Test description 3'
                          status:
                            type: string
                            example: X
                          createdAt:
                            type: string
                            example: '2024-12-09T13:16:02.000000Z'
                          updatedAt:
                            type: string
                            example: '2024-12-09T14:44:08.000000Z'
                      relationships:
                        type: object
                        properties:
                          author:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  type:
                                    type: string
                                    example: user
                                  id:
                                    type: integer
                                    example: 9
                              links:
                                type: object
                                properties:
                                  self:
                                    type: string
                                    example: 'http://tickets-please.localtest.me/api/v1/author/9'
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                            example: 'http://tickets-please.localtest.me/api/v1/ticket/1'
      tags:
        - Ticket
    put:
      summary: 'Ticket overview'
      operationId: ticketOverview
      description: 'Display a paginated list of tickets.'
      parameters: []
      responses: {  }
      tags:
        - Ticket
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  description: ''
                  example: []
                  nullable: false
                  properties:
                    attributes:
                      type: object
                      description: ''
                      example: []
                      nullable: false
                      properties:
                        title:
                          type: string
                          description: "The ticket's title."
                          example: null
                          nullable: false
                        description:
                          type: string
                          description: ''
                          example: 'Minus vel dolorum modi iste.'
                          nullable: false
                        status:
                          type: string
                          description: ''
                          example: X
                          nullable: false
                          enum:
                            - A
                            - C
                            - H
                            - X
                    relationships:
                      type: object
                      description: ''
                      example: []
                      nullable: false
                      properties:
                        author:
                          type: object
                          description: ''
                          example: []
                          nullable: false
                          properties:
                            data:
                              type: object
                              description: ''
                              example: []
                              nullable: false
                              properties:
                                id:
                                  type: integer
                                  description: 'The author to assign the ticket to. The <code>id</code> of an existing record in the users table.'
                                  example: 20
                                  nullable: false
              required:
                - data
    delete:
      summary: 'Ticket overview'
      operationId: ticketOverview
      description: 'Display a paginated list of tickets.'
      parameters: []
      responses: {  }
      tags:
        - Ticket
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  description: ''
                  example: []
                  nullable: false
                  properties:
                    attributes:
                      type: object
                      description: ''
                      example: []
                      nullable: false
                      properties:
                        title:
                          type: string
                          description: "The ticket's title."
                          example: null
                          nullable: false
                        description:
                          type: string
                          description: ''
                          example: 'Dolores magni quia vero fuga ut dolores voluptas commodi.'
                          nullable: false
                        status:
                          type: string
                          description: ''
                          example: C
                          nullable: false
                          enum:
                            - A
                            - C
                            - H
                            - X
                    relationships:
                      type: object
                      description: ''
                      example: []
                      nullable: false
                      properties:
                        author:
                          type: object
                          description: ''
                          example: []
                          nullable: false
                          properties:
                            data:
                              type: object
                              description: ''
                              example: []
                              nullable: false
                              properties:
                                id:
                                  type: integer
                                  description: 'The author to assign the ticket to. The <code>id</code> of an existing record in the users table.'
                                  example: 14
                                  nullable: false
              required:
                - data
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the ticket.'
        example: 1
        required: true
        schema:
          type: integer
tags:
  -
    name: Authentication
    description: ''
  -
    name: Endpoints
    description: ''
  -
    name: Ticket
    description: ''
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: 'You can retrieve your token by visiting your dashboard and clicking <b>Generate API token</b>.'
security:
  -
    default: []
